@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Seymour+One&family=Signika+Negative:wght@300;400;500;600;700&family=Work+Sans:ital,wght@0,100;1,100&display=swap');
*{
    margin: ;
    padding: ;
    font-family: 'Signika Negative', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(12, 12, 12);
    min-height: 100vh;

}
.mainC{
    width: px;
    height: px;
    background: rgb(0, 0, 0);
    border-radius: 25px;
    padding: 20px 20px 15px ;
    box-shadow: 1px 1px 1px 4px rgb(120, 120, 120);

}

.buttons form input{
    border: 0;
    outline: 0;
    width: 70px;
    height: 70px;
    color: white;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: ;
    font-size: 35px;
    background: rgb(41, 41, 41);
    margin: 10px;
    transition: ease 0.3s;
}
.buttons form input:hover{
    border: 0;
    outline: 0;
    width: 70px;
    height: 70px;
    color: white;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: ;
    font-size: 35px;
    background: rgb(22, 23, 22);
    margin: 10px;
}

form .display {
    display: flex;
    justify-content:flex-end ;
    margin: 20px 0;

}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 60px;
    border-radius: 0%;
    background: rgb(12, 12, 12);

}
form .display input:hover{
    text-align: right;
    flex: 1;
    font-size: 60px;
    border-radius: 0%;
    background: rgb(12, 12, 12);

}  

